*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.products{
    width:100vw;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}

.prdt{
    width: 400px;
    height: 600px;
    background-image: linear-gradient(to right,rgb(200, 110, 0),rgb(227, 20, 20));
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}
.img{
    width:350px;
    height: 250px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}

.piza .img{
    background-image: url(pizza.webp);
    background-size: cover;
}
.burger .img{
    background-image: url(burger.gif);
    background-size: cover;
}
.sandwich .img{
    background-image: url(Momo_nepal.jpg);
    background-size: cover;
}
.info{
    padding: 30px;
    text-align: justify;
}
.head{
    text-align: center;
    font-size: 3rem;

}
.heading{
    width: 100%;
    text-align: center;
    font-size: 4rem;
}
button{
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    padding: 7px;
    font-size: 1.3rem;
    width: 200px;
}